<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goHome()">
    <mat-icon>account_box</mat-icon>
</button>

&nbsp;| 

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goAbout()">
    <mat-icon>title</mat-icon>
</button>

&nbsp;| 

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goForm()">
    <mat-icon>build</mat-icon>
</button>

&nbsp;| 

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goTable()">
    <mat-icon>view_module</mat-icon>
</button>

&nbsp;| 

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goSearch()">
    <mat-icon>youtube_searched_for</mat-icon>
</button>

&nbsp;| 

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goFlexLayout()">
    <mat-icon>border_all</mat-icon>
</button>

&nbsp;| 

<button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="goCovidData()">
    <mat-icon>storage</mat-icon>
</button>

<router-outlet></router-outlet>
