<mat-toolbar *ngIf="routes.url !== '/login' && routes.url !== '/sign-up'">
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button (click)="goFamilyRegisters()" style="width: 25%" class="is-click">Family</button>
  <button mat-button (click)="goPeople()" style="width: 25%" class="is-click">People</button>
  <button mat-button (click)="goCharge()" style="width: 25%" class="is-click">Charge</button>
  <button mat-button (click)="goLogout()" style="width: 25%" class="is-click">Logout</button>
</mat-toolbar>

<mat-sidenav-container>
  <mat-sidenav #sidenav [opened]="isShowing">
    <button mat-button (click)="goFamilyRegisters()" style="width: 100%">Family</button>

    <button mat-button (click)="goPeople()" style="width: 100%">People</button>

    <button mat-button (click)="goCharge()" style="width: 100%">Charge</button>

    <button mat-button (click)="goLogout()" style="width: 100%">Logout</button>
  </mat-sidenav>

  <router-outlet></router-outlet>
</mat-sidenav-container>

