<mat-toolbar>
  <button
    mat-icon-button
    class="example-icon"
    aria-label="Example icon-button with menu icon"
    (click)="toggleSidenav()"
  >
    <mat-icon>menu</mat-icon>
  </button>

  <button mat-button (click)="goFamilyRegisters()" style="width: 25%" class="is-click">Family</button>
  <button mat-button (click)="goPeople()" style="width: 25%" class="is-click">People</button>
  <button mat-button (click)="goCharge()" style="width: 25%" class="is-click">Charge</button>
  <button mat-button (click)="goLogout()" style="width: 25%" class="is-click">Logout</button>
</mat-toolbar>

<router-outlet></router-outlet>
