mat-sidenav-container {
    height: 720px;
}

mat-sidenav {
    width: 100px;
}

button {
    width: 50px;
    height: 50px;
    font-size: 15px;
    text-align: center;
}

#div-form {
  width: 50px;
  height: 50px;
  font-size: 15px;
  text-align: center;
}

form {
    margin: 5px;
}

.number {
    margin-left: 115px;
}
.owner {
  margin-left: 170px;
}
.province {
  margin-left: 170px;
}
.district {
  margin-left: 170px;
}
.ward {
  margin-left: 170px;
}
.address{
  margin-left: 170px;
}


.search-button {
    margin-top: 65px;
    margin-left: 670px;
}


table {
  width: 100%;
}

.add-edit {
  margin-left: 1300px;
  height: 50px;
}