<form class="center" [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
  <div class="name" id="div-form" fxLayout="row">
    <h4>Tên loại phí</h4>
    <mat-form-field appearance="outline" class="no-line">
      <mat-label>Tên loại phí</mat-label>
      <input required matInput name="name" formControlName="name"/>
    </mat-form-field>
  </div>

  <div class="amount" id="div-form" fxLayout="row">
    <h4>Khoản phí</h4>
    <mat-form-field appearance="outline">
      <mat-label>Khoản phí</mat-label>
      <input required matInput name="amount" formControlName="amount"/>
    </mat-form-field>
  </div>

  <div class="charge_type" id="div-form" fxLayout="row">
    <h4>Loại phí</h4>
    <mat-form-field appearance="outline">
      <mat-label>Loại phí</mat-label>
      <mat-select
        required
        name="charge_type"
        formControlName="charge_type"
      >
        <mat-option
          *ngFor="let charge_type of charge_typeValues"
          [value]="charge_type"
        >
          {{ charge_type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <button mat-button type="submit" [disabled]="!addEditForm.valid">Xác nhận</button>

</form>
