<div fxLayout="row" fxLayout.xs="column" fxLayoutAlign="start center">
    <!-- Contact Info -->
    <div fxLayout="column"  flex-xs="100" fxLayoutAlign="start center">
        <div>
            <h4 class="title">Thông tin liên lạc</h4>
        </div>

        <div class="contact-address">
            <h4 class="title">Địa chỉ văn phòng</h4>
            <div class="branch">
                <h5 class="branch_name">Khách Hàng Doanh nghiệp Hotline</h5>
                <p></p>
                <a href="0123456789">012-345-6789</a>
                <p></p>
                <a href="abc">Hướng dẫn trên bản đồ</a>
            </div>

            <div class="branch">
                <h5 class="brand_name">Hà Nội</h5>
                <p>
                    Công ty TNHH Công nghệ LOGIVAN Việt Nam
                    <br />
                    Ô 10, Tầng 3, D2 Giảng Võ, Ba Đình, Hà Nội
                </p>
                <a href="sdt">098-765-4321</a>
                <p></p>
                <a href="hd">Hướng dẫn trên bản đồ</a>
            </div>

            <div class="branch">
                <h5 class="brand_name">Hồ Chí Minh</h5>
                <p>
                    Công ty TNHH Công nghệ LOGIVAN Việt Nam
                    <br />
                    Block A, Tòa nhà M7 khu Midtown Signature, Đường 15, Phường Tân Phú,
                    Quận 7, Thành Phố Hồ Chí Minh
                </p>
                <a href="sdt">098-765-1234</a>
                <p></p>
                <a href="hd">Hướng dẫn trên bản đồ</a>
            </div>
        </div>
    </div>

    <!-- Form to contact -->
    <div fxLayout="column" flex-xs="100" FxLayoutAlign="start center">
        <h3 class="contact-title">Liên hệ với chúng tôi</h3>
        <div class="form">
            <form action="" method="post">
                <!-- Họ và tên -->
                <div class="form-group">
                    <label for="name">Họ và tên</label>
                    <br />
                    <input type="text" name="your-name" value size="40" aria-required="true" aria-invalid="false">
                </div>

                <!-- Email -->
                <div class="form-group">
                    <label for="email">Email</label>
                    <br />
                    <input type="text" name="your-email" value size="40" aria-required="true" aria-invalid="false">
                </div>

                <!-- Số điện thoại -->
                <div class="form-group">
                    <label for="phone">Số điện thoại</label>
                    <br />
                    <input type="text" name="your-phone" value size="40" aria-required="true" aria-invalid="false">
                </div>

                <!-- Tiêu đề -->
                <div class="form-group">
                    <label for="title">Tiêu đề</label>
                    <br />
                    <input type="text" name="your-title" value size="40" aria-required="true" aria-invalid="false">
                </div>

                <!-- Nội dung -->
                <div class="form-group">
                    <label for="content">Nội dung</label>
                    <br />
                    <span>
                        <textarea name="your-content" class="form-control" cols="40" rows="5" aria-invalid="false"></textarea>
                    </span>
                </div>

                <!-- Submit button -->
                <p>
                    <input type="submit" value="Gửi" aria-invalid="false">
                </p>
            </form>
        </div>
    </div>
</div>

