.center {
  text-align: center;
}

input {
  margin: 3px;
}

.address {
  margin-left: 15px;
}

.name {
  margin-left: 29px;
}

.phone {
  margin-left: 27px;
}

.email {
  margin-left: 29px;
}

.text-danger {
  color: red;
}
