<form class="center" [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
  <div class="number" id="div-form">
    <h4>Number</h4>
    <mat-form-field appearance="fill">
      <mat-label>Number</mat-label>
      <input matInput name="number" formControlName="number"/>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="text-danger">Address is Required</span>-->
  <!--  <br />-->

  <div class="owner" id="div-form">
    <h4>Owner</h4>
    <mat-form-field appearance="fill">
      <mat-label>Owner</mat-label>
      <input matInput name="owner" formControlName="owner"/>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">Name is Required</span>-->
  <!--  <br />-->

  <div class="province" id="div-form">
    <h4>Province</h4>
    <mat-form-field appearance="fill">
      <mat-label>Province</mat-label>
      <mat-select
        (selectionChange)="provinceChange($event)"
        name="province"
        formControlName="province"
      >
        <mat-option
          *ngFor="let province of provinceValues"
          [value]="province"
        >
          {{ province }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-danger">Phone is Required</span>-->
  <!--  <br />-->

  <div class="district" id="div-form">
    <h4>District</h4>
    <mat-form-field appearance="fill">
      <mat-label>District</mat-label>
      <mat-select
        (selectionChange)="districtChange($event)"
        name="district"
        formControlName="district"
      >
        <mat-option
          *ngFor="let district of districtValues"
          [value]="district"
        >
          {{ district }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email Required</mat-error>-->
  <!--  <br />-->

  <div class="ward" id="div-form">
    <h4>Ward</h4>
    <mat-form-field appearance="fill">
      <mat-label>Ward</mat-label>
      <mat-select name="ward" formControlName="ward">
        <mat-option *ngFor="let ward of wardValues" [value]="ward">
          {{ ward }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email Required</mat-error>-->
  <!--  <br />-->

  <div class="address" id="div-form">
    <h4>Address</h4>
    <mat-form-field appearance="fill">
      <mat-label>Address</mat-label>
      <input matInput name="address" formControlName="address"/>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">Name is Required</span>-->
  <!--  <br />-->

  <button mat-button type="submit" [disabled]="!addEditForm.valid">Submit</button>

</form>
