<form class="center" [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
  <div class="familyId" id="div-form" fxLayout="row">
    <h4>Family Number</h4>
    <mat-form-field appearance="outline">
      <mat-label>Family Number</mat-label>
      <mat-select name="family_number" formControlName="number">
        <mat-option *ngFor="let family of familyValues" [value]="family">
          {{ family }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="amount" id="div-form" fxLayout="row">
    <h4>Amount</h4>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input required matInput name="amount" formControlName="amount"/>
    </mat-form-field>
  </div>

  <div class="payer" id="div-form" fxLayout="row">
    <h4>Payer</h4>
    <mat-form-field appearance="outline">
      <mat-label>Payer</mat-label>
      <input required matInput name="payer" formControlName="payer"/>
    </mat-form-field>
  </div>

  <div class="pay_date" id="div-form" fxLayout="row">
    <h4>Pay Date</h4>
    <mat-form-field appearance="outline">
      <mat-label>Amount</mat-label>
      <input required matInput name="pay_date" formControlName="pay_date"/>
    </mat-form-field>
  </div>
  <!-- <div class="charge_type" id="div-form" fxLayout="row">
    <h4>Type</h4>
    <mat-form-field appearance="outline">
      <mat-label>Type</mat-label>
      <mat-select
        required
        name="charge_type"
        formControlName="charge_type"
      >
        <mat-option
          *ngFor="let charge_type of charge_typeValues"
          [value]="charge_type"
        >
          {{ charge_type }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div> -->

  <button mat-button type="submit" [disabled]="!addEditForm.valid">Submit</button>

</form>
