<mat-sidenav-content fxLayout="column">
  <form [formGroup]="searchForm">
    <div fxLayout="row" class="default-search">
      <div class="name" id="div-form-name"
           fxLayout='column' fxFlex='15%'
           fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
        <h4>Họ và tên</h4>
        <mat-form-field appearance="fill">
          <mat-label>Họ và tên</mat-label>
          <input matInput name="name" formControlName="name"/>
        </mat-form-field>
      </div>

      <div class="birthday" id="div-form-birthday"
           fxLayout='column' fxFlex='15%'
           fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
        <h4>Ngày sinh</h4>
        <mat-form-field appearance="fill">
          <mat-label>Ngày sinh</mat-label>
          <input matInput [matDatepicker]="picker" name="birthday" formControlName="birthday" [(ngModel)]="startDate">
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker-toggle matSuffix (click)="clearStartDate()">
            <mat-icon matDatepickerToggleIcon>clear</mat-icon>
          </mat-datepicker-toggle>
          <mat-datepicker #picker ></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="province" id="div-form-province"
           fxLayout='column' fxFlex='15%'
           fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
        <h4>Tỉnh/TP</h4>
        <mat-form-field appearance="fill">
          <mat-label>Tỉnh/TP</mat-label>
          <mat-select
            (selectionChange)="provinceChange($event)"
            name="province"
            formControlName="province"
          >
            <mat-option
              *ngFor="let province of provinceValues"
              [value]="province"
            >
              {{ province }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="district" id="div-form-district"
           fxLayout='column' fxFlex='15%'
           fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
        <h4>Quận/Huyện</h4>
        <mat-form-field appearance="fill">
          <mat-label>Quận/Huyện</mat-label>
          <mat-select
            (selectionChange)="districtChange($event)"
            name="district"
            formControlName="district"
          >
            <mat-option
              *ngFor="let district of districtValues"
              [value]="district"
            >
              {{ district }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="ward" id="div-form-ward"
           fxLayout='column' fxFlex='15%'
           fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
        <h4>Xã/Phường</h4>
        <mat-form-field appearance="fill">
          <mat-label>Xã/Phường</mat-label>
          <mat-select name="ward" formControlName="ward">
            <mat-option *ngFor="let ward of wardValues" [value]="ward">
              {{ ward }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>

      <div class="address" id="div-form-address"
           fxLayout='column' fxFlex='15%'
           fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
        <h4>Địa chỉ</h4>
        <mat-form-field appearance="fill">
          <mat-label>Địa chỉ</mat-label>
          <input matInput name="address" formControlName="address"/>
        </mat-form-field>
      </div>
    </div>

    <ng-container *ngIf="isAdvancedSearch">
      <div fxLayout="row" class="expand-search">
        <div class="placeOfBirth" id="div-form-place-of-birth"
             fxLayout='column' fxFlex='15%'
             fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
          <h4>Nơi sinh</h4>
          <mat-form-field appearance="fill">
            <mat-label>Nơi sinh</mat-label>
            <input matInput name="placeOfBirth" formControlName="placeOfBirth"/>
          </mat-form-field>
        </div>

        <div class="ethnic" id="div-form-ethnic"
             fxLayout='column' fxFlex='15%'
             fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
          <h4>Dân tộc</h4>
          <mat-form-field appearance="fill">
            <mat-label>Dân tộc</mat-label>
            <input matInput name="ethnic" formControlName="ethnic"/>
          </mat-form-field>
        </div>

        <div class="placeOfJob" id="div-form-place-of-job"
             fxLayout='column' fxFlex='15%'
             fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
          <h4>Nơi làm việc</h4>
          <mat-form-field appearance="fill">
            <mat-label>Nơi làm việc</mat-label>
            <input matInput name="placeOfJob" formControlName="placeOfJob"/>
          </mat-form-field>
        </div>

        <div class="identityCard" id="div-form-identity-card"
             fxLayout='column' fxFlex='15%'
             fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
          <h4>Số CMND</h4>
          <mat-form-field appearance="fill">
            <mat-label>Số CMND</mat-label>
            <input matInput name="identityCard" formControlName="identityCard"/>
          </mat-form-field>
        </div>

        <div class="relationshipWithOwner" id="div-form-relationship-with-owner"
             fxLayout='column' fxFlex='15%'
             fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
          <h4>Quan hệ với chủ hộ</h4>
          <mat-form-field appearance="fill">
            <mat-label>Quan hệ với chủ hộ</mat-label>
            <input matInput name="relationshipWithOwner" formControlName="relationshipWithOwner"/>
          </mat-form-field>
        </div>

        <div class="status" id="div-form-status"
             fxLayout='column' fxFlex='15%'
             fxFlex.xs='100%' fxFlex.sm='50%' fxFlex.md='50%' fxFlex.lg='15%'>
          <h4>Trạng thái</h4>
          <mat-form-field appearance="fill">
            <mat-label>Trạng thái</mat-label>
            <input matInput name="status" formControlName="status"/>
          </mat-form-field>
        </div>

      </div>
    </ng-container>

    <div fxLayout='row wrap' class='row-wrap-padding'>
      <div fxLayout='column' fxFlex='100%' fxLayoutAlign='center center' class='advanced-search'>
      <span ngClass="{{isAdvancedSearch ? 'hide_advance' : 'show_advance'}}"
            (click)='toggleAdvancedSearch()'>{{(isAdvancedSearch ? 'Thu gọn' : 'Mở rộng')}}
        <i ngClass="{{isAdvancedSearch ? 'fa fa-chevron-up' : 'fa fa-chevron-down'}}"></i></span>
      </div>
    </div>

    <div fxLayout="row" class="search-button">
      <button
        mat-button
        type="submit"
        class="primary Update-btn"
        (click)="onSearch()"
      >
        <i class="fa fa-search"></i> Tìm kiếm
      </button>
      <button
        mat-button
        type="submit"
        class="primary Update-btn"
        id="clear"
        (click)="onResetForm()"
      >
        <i class="fa fa-times"></i> Xóa
      </button>
    </div>

    <div fxLayout="row">
      <h1>{{this.paginator.length}} Kết quả</h1>
      <button
        mat-button
        type="submit"
        class="add-edit"
        (click)="addEditPeople()"
      >
        <i class="fa fa-plus"></i> Thêm
      </button>
    </div>

    <div class="mat-elevation-z8">
      <table mat-table [dataSource]="people">
        <!-- Name Column -->
        <ng-container matColumnDef="name">
          <th mat-header-cell *matHeaderCellDef>Tên</th>
          <td mat-cell *matCellDef="let element">{{ element.name }}</td>
        </ng-container>

        <!-- Other Name Column -->
        <!--          <ng-container matColumnDef="otherName">-->
        <!--            <th mat-header-cell *matHeaderCellDef>Other Name</th>-->
        <!--            <td mat-cell *matCellDef="let element">{{ element.otherName }}</td>-->
        <!--          </ng-container>-->

        <!-- Birthday Column -->
        <ng-container matColumnDef="birthday">
          <th mat-header-cell *matHeaderCellDef>Ngày sinh</th>
          <td mat-cell *matCellDef="let element">{{ element.birthday }}</td>
        </ng-container>

        <!-- Province Column -->
        <ng-container matColumnDef="province">
          <th mat-header-cell *matHeaderCellDef>Tỉnh/TP</th>
          <td mat-cell *matCellDef="let element">{{ element.province }}</td>
        </ng-container>

        <!-- District Column -->
        <ng-container matColumnDef="district">
          <th mat-header-cell *matHeaderCellDef>Quận/Huyện</th>
          <td mat-cell *matCellDef="let element">{{ element.district }}</td>
        </ng-container>

        <!-- Ward Column -->
        <ng-container matColumnDef="ward">
          <th mat-header-cell *matHeaderCellDef>Xã/Phường</th>
          <td mat-cell *matCellDef="let element">{{ element.ward }}</td>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="address">
          <th mat-header-cell *matHeaderCellDef>Địa chỉ</th>
          <td mat-cell *matCellDef="let element">{{ element.address }}</td>
        </ng-container>

        <!-- Place Of Birth Column -->
        <ng-container matColumnDef="placeOfBirth">
          <th mat-header-cell *matHeaderCellDef>Nơi sinh</th>
          <td mat-cell *matCellDef="let element">{{ element.placeOfBirth }}</td>
        </ng-container>

        <!-- Ethnic Column -->
        <ng-container matColumnDef="ethnic">
          <th mat-header-cell *matHeaderCellDef>Dân tộc</th>
          <td mat-cell *matCellDef="let element">{{ element.ethnic }}</td>
        </ng-container>

        <!-- Place Of Job Column -->
        <ng-container matColumnDef="placeOfJob">
          <th mat-header-cell *matHeaderCellDef>Nơi làm việc</th>
          <td mat-cell *matCellDef="let element">{{ element.placeOfJob }}</td>
        </ng-container>

        <!-- Identity Card Column -->
        <ng-container matColumnDef="identityCard">
          <th mat-header-cell *matHeaderCellDef>Số CMND</th>
          <td mat-cell *matCellDef="let element">{{ element.identityCard }}</td>
        </ng-container>

        <!-- Family Column -->
        <!--          <ng-container matColumnDef="familyId">-->
        <!--            <th mat-header-cell *matHeaderCellDef>Family</th>-->
        <!--            <td mat-cell *matCellDef="let element">{{ element.familyId }}</td>-->
        <!--          </ng-container>-->

        <!-- Relationship With Owner Column -->
        <ng-container matColumnDef="relationshipWithOwner">
          <th mat-header-cell *matHeaderCellDef>Quan hệ với chủ hộ</th>
          <td mat-cell *matCellDef="let element">{{ element.relationshipWithOwner }}</td>
        </ng-container>

        <!-- Status Column -->
        <ng-container matColumnDef="status">
          <th mat-header-cell *matHeaderCellDef>Trạng thái</th>
          <td mat-cell *matCellDef="let element">{{ element.status }}</td>
        </ng-container>

        <!-- Note Column -->
        <ng-container matColumnDef="note">
          <th mat-header-cell *matHeaderCellDef>Ghi chú</th>
          <td mat-cell *matCellDef="let element">{{ element.note }}</td>
        </ng-container>

        <!-- Action Column-->
        <ng-container matColumnDef=" ">
          <mat-header-cell *matHeaderCellDef></mat-header-cell>
          <mat-cell *matCellDef="let element">
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="clickMethod(element.name, element.id)">
              <mat-icon>delete</mat-icon>
            </button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon"
                    (click)="openDialogDetails(element.id)">
              <mat-icon>info</mat-icon>
            </button>
            <span>&nbsp;&nbsp;&nbsp;</span>
            <button mat-fab color="primary" aria-label="Example icon button with a delete icon" (click)="onEdit(element.id)">
              <mat-icon> border_color</mat-icon>
            </button>
          </mat-cell>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
      </table>

      <mat-paginator
        #paginator
        [pageSizeOptions]="[5, 10, 20]"
        showFirstLastButtons
        aria-label="Select page of periodic elements"
      >
      </mat-paginator>
    </div>
  </form>
</mat-sidenav-content>

