<form class="center" [formGroup]="addEditForm" (ngSubmit)="onSubmit()">
  <div class="name" id="div-form" fxLayout="row">
    <h4>Name</h4>
    <mat-form-field appearance="outline" class="no-line">
      <mat-label>Name</mat-label>
      <input matInput name="name" formControlName="name"/>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('address')?.invalid && form.get('address')?.touched" class="text-danger">Address is Required</span>-->
  <!--  <br />-->

  <div class="otherName" id="div-form" fxLayout="row">
    <h4>Other Name</h4>
    <mat-form-field appearance="outline">
      <mat-label>Other Name</mat-label>
      <input matInput name="otherName" formControlName="otherName"/>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">Name is Required</span>-->
  <!--  <br />-->

  <div class="birthday" id="div-form" fxLayout="row">
    <h4>Birthday</h4>
    <mat-form-field appearance="outline">
      <mat-label>Birthday</mat-label>
      <input matInput name="birthday" formControlName="birthday"/>
    </mat-form-field>
  </div>

  <div class="province" id="div-form" fxLayout="row">
    <h4>Province</h4>
    <mat-form-field appearance="outline">
      <mat-label>Province</mat-label>
      <mat-select
        (selectionChange)="provinceChange($event)"
        name="province"
        formControlName="province"
      >
        <mat-option
          *ngFor="let province of provinceValues"
          [value]="province"
        >
          {{ province }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('phone')?.invalid && form.get('phone')?.touched" class="text-danger">Phone is Required</span>-->
  <!--  <br />-->

  <div class="district" id="div-form" fxLayout="row">
    <h4>District</h4>
    <mat-form-field appearance="outline">
      <mat-label>District</mat-label>
      <mat-select
        (selectionChange)="districtChange($event)"
        name="district"
        formControlName="district"
      >
        <mat-option
          *ngFor="let district of districtValues"
          [value]="district"
        >
          {{ district }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email Required</mat-error>-->
  <!--  <br />-->

  <div class="ward" id="div-form" fxLayout="row">
    <h4>Ward</h4>
    <mat-form-field appearance="outline">
      <mat-label>Ward</mat-label>
      <mat-select name="ward" formControlName="ward">
        <mat-option *ngFor="let ward of wardValues" [value]="ward">
          {{ ward }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <mat-error *ngIf="form.get('email')?.invalid && form.get('email')?.touched">Email Required</mat-error>-->
  <!--  <br />-->

  <div class="address" id="div-form" fxLayout="row">
    <h4>Address</h4>
    <mat-form-field appearance="outline">
      <mat-label>Address</mat-label>
      <input matInput name="address" formControlName="address"/>
    </mat-form-field>
  </div>
  <!--  <br />-->
  <!--  <span *ngIf="form.get('name')?.invalid && form.get('name')?.touched" class="text-danger">Name is Required</span>-->
  <!--  <br />-->
  <div class="place-of-birth" id="div-form" fxLayout="row">
    <h4>Place Of Birth</h4>
    <mat-form-field appearance="outline">
      <mat-label>Place Of Birth</mat-label>
      <input matInput name="placeOfBirth" formControlName="placeOfBirth"/>
    </mat-form-field>
  </div>

  <div class="ethnic" id="div-form" fxLayout="row">
    <h4>Ethnic</h4>
    <mat-form-field appearance="outline">
      <mat-label>Ethnic</mat-label>
      <input matInput name="ethnic" formControlName="ethnic"/>
    </mat-form-field>
  </div>

  <div class="place-of-job" id="div-form" fxLayout="row">
    <h4>Place Of Job</h4>
    <mat-form-field appearance="outline">
      <mat-label>Place Of Job</mat-label>
      <input matInput name="placeOfJob" formControlName="placeOfJob"/>
    </mat-form-field>
  </div>

  <div class="identity-card" id="div-form" fxLayout="row">
    <h4>Identity Card</h4>
    <mat-form-field appearance="outline">
      <mat-label>Identity Card</mat-label>
      <input matInput name="identityCard" formControlName="identityCard" [required]="true"/>
    </mat-form-field>
  </div>


  <div class="familyId" id="div-form" fxLayout="row">
    <h4>Family Id</h4>
    <mat-form-field appearance="outline">
      <mat-label>Family Id</mat-label>
      <mat-select name="familyId" formControlName="familyId">
        <mat-option *ngFor="let family of familyValues" [value]="family">
          {{ family }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="relationship-with-owner" id="div-form" fxLayout="row">
    <h4>Relationship With Owner</h4>
    <mat-form-field appearance="outline">
      <mat-label>Relationship With Owner</mat-label>
      <mat-select name="relationshipWithOwner" formControlName="relationshipWithOwner">
        <mat-option *ngFor="let relationship of relationshipValues" [value]="relationship">
          {{ relationship }}
        </mat-option>
      </mat-select>
    </mat-form-field>
  </div>

  <div class="note" id="div-form" fxLayout="row">
    <h4>Note</h4>
    <mat-form-field appearance="outline">
      <mat-label>Note</mat-label>
      <input matInput name="note" formControlName="note"/>
    </mat-form-field>
  </div>

  <button mat-button type="submit" [disabled]="!addEditForm.valid">Submit</button>

</form>
